@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out;
}

a {
    text-decoration: none;
}

body {
    font: 400 22px 'Poppins', sans-serif;
    color: #444444;
    line-height: 1.6;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.box {
    padding: 90px 0;
}

.box--padding-lg {
    padding: 90px 0;
}

.box--bg-pink {
    background-color: #ffe9eb;
}

.box--bg-grey {
    background-color: #eeeeee;
}

.box--bg-gradient{
    background-image: linear-gradient(to bottom, #333399 40%, #fe00cc 100%);
}

h1, h2 {
font-size: 62px;
}

h3 {
font-size: 36px;
}

h4 {
font-size: 30px;
}

h5 {
font-size: 24px;
}

header {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header a {
    color: inherit;
}

.logo {
    font-weight: 700;
    font-size: 33px;
    
}

.logo:hover, .logo:focus, .logo:active {
    color: #e71cb4
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    
}

/* nav li:not(:last-child) {
    margin-right: 25px;
} */

nav ul li a {
    border-bottom: 2px solid transparent;
    font-size: 16px;
    padding: 5px 0;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    color: #e71cb4;
    border-color: #e71cb4;
}

header .container {
    display: flex;
    align-items: center; /*jesli jest flex */
    justify-content: space-between;
}

.hero {
    min-height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/hero.jpg");
}

.hero__text {
    font-size: 30px;
    margin-bottom: 70px;
}

.hero__title {
    margin-bottom: 30px;
}

.btn {
    background-color: #e71cb4;
    color: #fff;
    border: 2px solid #e71cb4;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 45px;
    display: inline-block;
    font-size: 16px;
  }

  .btn--lg {
    font-size: 22px;
    padding: 25px 80px;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    color: #e71cb4;
    background-color: #fff;
  }

  .btn--transparent {
      background-color: transparent;
      border-color: white;
  }

  .btn--transparent:hover,
  .btn--transparent:focus,
  .btn--transparent:active {
    color: #444;
  }

  .text-lg {
    font-size: 32px;
  }

  .text-purple {
      color: #e71cb4;
  }

  .course{
      padding: 25px 0;
      list-style: none;
      font-style: 24px;
      font-weight: 500;
      column-count: 2;
      column-gap: 30px;
  }

  .course li{
        display: flex;
        padding: 25px 0;
  }

  .course__index{
      font-style: 44px;
      font-weight: 700;
      display: inline block;
      margin: 0 25px;
      line-height: 1.2; 
  }


  .text1 {
    color: #ffde16;
}

.text2 {
    color: #ffbd9e;
}

.text3 {
    color: #20c9e0;
}

.text4 {
    color: #2eac66;
}

.text5 {
    color: #ff6179;
}

.text6 {
    color: orange;


